*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */

header{
    background-color: rgba(133, 100, 22, 0.6);
    padding: 1rem;
    position: sticky;
    top: 0;
}

header ul{
    list-style: none;
}

header a{
    text-decoration: none;
    color: #000;
}

header a:hover{
    color: aliceblue;
    font-weight: bold;
}

/* Fin de Header */



/* Main */

main section{
    padding: 2rem;
}

#main_title{
    margin: 1rem 0;
}

/* Fin de Main */




/* Parrafos y Titulos */

h1::first-letter{
    font-size: 2.5rem;
}

section > p{
    color: burlywood;
}

section * p{
    color: blanchedalmond;
}

p:last-child{
    font-weight: bold;
    padding-top: 1rem;
    text-align: center
}

/* Fin de Parrafo */




/* Banner IMG */

.secBan{
    margin: 0;
    padding: 0;
}

.bannerImg{
    display: block;
    max-width: 100%;
    height: auto;
    
}


/* Fin de Banner IMG */



/* Parte de contenido de comidas */

#articles_section{
    width: 85%;
    padding: 1rem;
}

#articles_section article{
    border: 1px solid #000;
    text-align: center;
    margin: 2rem;
    padding: 2rem 1rem;
    width: 90%;
    max-width: 18rem;
    height: 18rem;
    border-radius: 1rem;
}

#articles_section article h2{
    margin-bottom: 1rem;
    margin-top: -1.5rem;
}

#articles_section article p{
    margin-bottom: 1rem;
    color: rgb(133, 100, 22);
}

#articles_section article button{
    padding: .5rem;
    border: none;
    background-color: rgba(133, 100, 22, 0.6);
    border-radius: 3px;
}

#articles_section article button a{
    text-decoration: none;
    color: #000;
}

#articles_section article button a:hover{
    color: #ffffff;
    font-weight: bold;
    padding: 2rem;
}

#articles_section img{
    border: solid 1px gray;
    height: auto;
    width: 78%;
}

/* Fin de parte de contenido de comidas */



/* Parte de Footer */

footer{
    background-color: rgb(159, 133, 73);
}

footer section{
    margin: 1rem;
}

footer h2{
    margin: 1rem 0;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: #000;
}


#copyright_section{
    text-align: center;
    margin: 0;
}

/* Fin parte de Footer */



/* Desktop First */
@media screen and (max-width: 450px) {
    h1{
        font-size: 3rem;
    }

    h1::first-letter{
        font-size: 3.5rem;
    }

    #main_title{
        text-align: center;
    }

    section * p{
        visibility: hidden;
    }

    #seccionb{
        margin-bottom: -12rem;
    }
}



@media screen and (min-width: 500px) {
    .secBan{
        display: none;
    }    
}
